@import url("./fonts.css");
@import url("./root.css");
@import url("./images.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
blockquote {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

/* PRIMARY */

article {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  line-height: 1.7;
  word-spacing: 0.16em;
}
